* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy; 
    color: #fff;
}
html,
body{
    height : 100vh;
    width : 100vw;
    background-color: black;
}
#nav{
    /* background-color: red; */
    display : flex;
    align-items : center;
    font-size : 15px;
    justify-content : space-between;
    padding: 30px 50px ;
}
#part-2{
    display:flex;
    gap: 50px;
    padding:20px;
    justify-content: center;
    /* align-items: center; */
}